.sidebar {
    width:20%;
    border-right: 1px solid lightgray;
    background:white;
    position:fixed;
    top:100px;
    height:1000px;
}

.form_radio_group {
	width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
}

.form_radio_group_item {
    border: none;
}

.form_radio_group_item input[type=radio] {
	display: none;
}

.form_radio_group_item label {
	width:100%;
    height:50px;
    cursor:pointer;
	padding:0px 15px;
	line-height:34px;
    text-align:justify;
    align-content:center;
}

.form_radio_group_item input[type=radio]:checked + label {
	background:rgb(220, 20, 20);
    color:white;
    border-radius:10px;
}

.form_radio_group_item label:hover {
	text-decoration: underline;
}
